@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <ul class="nav nav-tabs nav-stacked">
        <li><a asp-area="" asp-controller="Swimmers" asp-action="Index">Swimmers</a></li>
        <li><a asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
        <li><a asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></li>
    </ul>
</div>