@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="custom-left-menu">
    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
        <ul class="nav nav-tabs nav-stacked" id="custom-left-menu">
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Swimmers" ? "active" : "")"><a asp-area="" asp-controller="Swimmers" asp-action="Index"><img src="~/images/Swimmer.png" height="40" width="40" /> Swimmers</a></li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Squads" ? "active" : "")"><a asp-area="" asp-controller="Squads" asp-action="Index"><img src="~/images/team.jpg" height="40" width="40" /> Squads</a></li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "active" : "")"><a asp-area="" asp-controller="Users" asp-action="Index"><img src="~/images/users.png" height="40" width="40" /> Users</a></li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Roles" ? "active" : "")"><a asp-area="" asp-controller="Roles" asp-action="Index"><img src="~/images/roles.png" height="40" width="40" /> Roles</a></li>
        </ul>
    </div>
</div>