@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">
    <ul class="nav nav-tabs nav-stacked">
        <li><a asp-area="" asp-controller="Swimmers" asp-action="Index"><img src="~/images/Swimmer.png" height="40" width="40" /> Swimmers</a></li>
        <li><a asp-area="" asp-controller="Squads" asp-action="Index"><img src="~/images/team.jpg" height="40" width="40" /> Squads</a></li>
        <li><a asp-area="" asp-controller="Users" asp-action="Index"><img src="~/images/users.png" height="40" width="40" /> Users</a></li>
        <li><a asp-area="" asp-controller="Roles" asp-action="Index"><img src="~/images/roles.png" height="40" width="40" /> Roles</a></li>
    </ul>
</div>