@model BWSC.Models.Squad

@{
    ViewData["Title"] = "Create";
}
@Html.Partial("_Admin")
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <h2>Create</h2>

    <form asp-action="Create">
        <div class="form-horizontal">
            <h4>Squad</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
