@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid">
    <ul class="nav nav-tabs nav-stacked">
        <li><a href='#'>Swimmers</a></li>
        <li><a href='#'>Users</a></li>
        <li><a href='#'>Roles</a></li>
    </ul>
</div>
